default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Robertfausk\Behat\PantherExtension: ~
        Behat\MinkExtension:
           javascript_session: javascript
           sessions:
                default:
                    symfony: ~
                javascript:
                    panther:
                        manager_options:
                            chromedriver_arguments:
                                - --log-path=/var/www/html/chromedriver.log
                                - --verbose