parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$roles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Parameter \\#1 \\$password of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Credentials\\\\PasswordCredentials constructor expects string, bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/Security/AppFakeAuthenticator.php

		-
			message: "#^Parameter \\#1 \\$userIdentifier of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\UserBadge constructor expects string, bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/Security/AppFakeAuthenticator.php

		-
			message: "#^Parameter \\#2 \\$csrfToken of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\CsrfTokenBadge constructor expects string\\|null, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Security/AppFakeAuthenticator.php

		-
			message: "#^Cannot access offset 'blocked' on mixed\\.$#"
			count: 1
			path: src/Validator/EmailDomain.php

		-
			message: "#^Property App\\\\Validator\\\\EmailDomain\\:\\:\\$blocked has no type specified\\.$#"
			count: 1
			path: src/Validator/EmailDomain.php

		-
			message: "#^Property App\\\\Validator\\\\EmailDomain\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Validator/EmailDomain.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$blocked\\.$#"
			count: 1
			path: src/Validator/EmailDomainValidator.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$message\\.$#"
			count: 1
			path: src/Validator/EmailDomainValidator.php

		-
			message: "#^Parameter \\#1 \\$email of method App\\\\Validator\\\\EmailDomainValidator\\:\\:getDomain\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Validator/EmailDomainValidator.php

		-
			message: "#^Parameter \\#2 \\$value of method Symfony\\\\Component\\\\Validator\\\\Violation\\\\ConstraintViolationBuilderInterface\\:\\:setParameter\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Validator/EmailDomainValidator.php

		-
			message: "#^Parameter \\#1 \\$email of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\KernelTestCase\\:\\:assertEmailAddressContains\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 2
			path: tests/Controller/EmailControllerTest.php

		-
			message: "#^Parameter \\#1 \\$email of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\KernelTestCase\\:\\:assertEmailHtmlBodyContains\\(\\) expects Symfony\\\\Component\\\\Mime\\\\RawMessage, Symfony\\\\Component\\\\Mime\\\\RawMessage\\|null given\\.$#"
			count: 1
			path: tests/Controller/EmailControllerTest.php

		-
			message: "#^Cannot call method get\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Controller/FakeSecurityControllerTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 5
			path: tests/Controller/FakeSecurityControllerTest.php

		-
			message: "#^Cannot call method get\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Entity/InvitationCodeTest.php

		-
			message: "#^Cannot call method validate\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Entity/InvitationCodeTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\|Symfony\\\\Component\\\\Mailer\\\\MailerInterface\\:\\:expects\\(\\)\\.$#"
			count: 3
			path: tests/EventSubscriber/ExceptionSubscriberTest.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string, resource\\|string\\|null given\\.$#"
			count: 2
			path: tests/EventSubscriber/ExceptionSubscriberTest.php

		-
			message: "#^Parameter \\#1 \\$mailer of class App\\\\EventSubscriber\\\\ExceptionSubscriber constructor expects Symfony\\\\Component\\\\Mailer\\\\MailerInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\|Symfony\\\\Component\\\\Mailer\\\\MailerInterface given\\.$#"
			count: 1
			path: tests/EventSubscriber/ExceptionSubscriberTest.php

		-
			message: "#^Cannot call method getManager\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Repository/UserRepositoryTest.php

		-
			message: "#^Property App\\\\Tests\\\\Repository\\\\UserRepositoryTest\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept null\\.$#"
			count: 1
			path: tests/Repository/UserRepositoryTest.php

		-
			message: "#^Call to an undefined static method App\\\\Tests\\\\Validator\\\\EmailDomainValidatorTest\\:\\:bootKernel\\(\\)\\.$#"
			count: 1
			path: tests/Validator/EmailDomainValidatorTest.php

		-
			message: "#^Call to an undefined static method static\\(App\\\\Tests\\\\Validator\\\\EmailDomainValidatorTest\\)\\:\\:getContainer\\(\\)\\.$#"
			count: 1
			path: tests/Validator/EmailDomainValidatorTest.php

		-
			message: "#^Class App\\\\Tests\\\\Validator\\\\EmailDomainValidatorTest extends generic class Symfony\\\\Component\\\\Validator\\\\Test\\\\ConstraintValidatorTestCase but does not specify its types\\: T$#"
			count: 1
			path: tests/Validator/EmailDomainValidatorTest.php

		-
			message: "#^Method App\\\\Tests\\\\Validator\\\\EmailDomainValidatorTest\\:\\:provideInvalidConstraints\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Validator/EmailDomainValidatorTest.php
